{% extends 'base.html' %}

{% block header %}

<h2>{% block title %}Map{% endblock %}</h2>

{% endblock %}

{% block header_files %}

<!-- LeafLet needed scripts -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
	integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
	crossorigin=""></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/gps.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <button onclick="traceRoute()">Start</button>
    <button onclick="finishRoute()">Finish</button>
</div>


<div class="container" id="gps">

</div>

{% endblock %}

{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/gps.js') }}"></script>
{% endblock %}
