{% extends 'base.html' %}

{% block header %}

<h2>{% block title %}Register{% endblock %}</h2>

{% endblock %}

{% block content %}

<div class="container">
  <form method="post">

    <div class="form-group">
      <label for="usr">Username</label>
      <input name="username" id="usr" class="form-control" required>
    </div>
    
    <div class="form-group">
      <label for="passwd">Password</label>
      <input name="password" id="passwd" type="password" class="form-control" placeholder="Type your password" required>
    </div>

    <div class="form-group">
      <label for="repasswd">Repeat password</label>
      <input name="repassword" id="repasswd" type="password" class="form-control" placeholder="Type again your password" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Register</button>

    <a href="{{ url_for('auth.login') }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Log In</a>
    
  </form>
  </form>
</div>

{% endblock %}
